body {
   font-family: 'Lucida Sans';
   margin: 0;
   padding: 0;
   background-color: #f4f4f9;
}

.dashboard-container {
   max-width: 1200px;
   margin: 10px auto 100px;
   padding: 20px;
}

header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 25px;
   border-bottom: #66666655 3px solid;
}

header p {
   font-size: 32px;
   color: #0E2F56;
}

.user-info {
   display: flex;
   align-items: center;
   gap: 10px;
}

.role-badge {
   background-color: #007bff;
   color: #fff;
   padding: 5px 10px;
   border-radius: 5px;
   font-size: 14px;
}

.search {
   margin: 50px 0;
}

.search p {
   margin: 0;
   color: #0E2F56;
   font-size: 24px;
   margin-bottom: 20px;
}

.search-bar {
   width: 50%;
    padding: 10px;
    border: 1px solid #CED4DA;
    border-radius: 5px;
    font-size: 15px;
    background-color: #f8f8f8;
}

.btn-search {
   padding: 10px 20px;
   background-color:  #28a745;
   color: white;;
   color: #fff;
   border: none;
   border-radius: 5px;
   font-size: 15px;
   cursor: pointer;
}

.btn-search:hover {
   background-color: #218838;
}

.tables-section {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 20px;
   display: flex;
   justify-content: center;
}

.table-card {
   background-color: #d9d9d9;
   border: 1px solid #ddd;
   border-radius: 8px;
   padding: 10px;
}

.table-card h3 {
   font-size: 18px;
   margin-bottom: 15px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   color: #0E2F56;
}

.see-all {
   font-size: 14px;
   color: #ffff;
   background-color: #007bff;
   padding: 10px 20px;
   border-radius: 10px;
   text-decoration: none;
}

.see-all:hover {
   text-decoration: underline;
}

table {
   width: 100%;
   border-collapse: collapse;
   border-radius: 10px;
   background-color: #ffffff;
   
}

table th, table td {
   padding: 20px;
   text-align: center; /* Changed from left to center */
   border-radius: 10px;
}

table td {
   border-top: #d9d9d9 3px solid;
}

table img {
   width: 30px;
   height: 30px;
   border-radius: 50%;
}

.btn-reset {
   padding: 10px 20px;
   color: #fff;
   border: none;
   border-radius: 10px;
   font-size: 13px;
   cursor: pointer;
   background-color: #007bff;
   color: white;
}

.btn-reset:hover {
   background-color: #0056b3;
}

.btn-active {
   padding: 10px 20px;
   color: #fff;
   border: none;
   border-radius: 10px;
   font-size: 13px;
   cursor: pointer;
   background-color: #28a745;
}

.btn-active:hover {
   background-color: #218838;
}

.btn-disable {
   padding: 10px 20px;
   color: #fff;
   border: none;
   border-radius: 10px;
   font-size: 13px;
   cursor: pointer;
   background-color: #909090;
}

.btn-disable:hover {
   background-color: #7a7a7a;
}

@media (max-width: 768px) {
   .stats-grid {
       grid-template-columns: 1fr;
   }

   .tables-section {
       grid-template-columns: 1fr;
   }
}
