* {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.searchform {
  max-width: 600px;
  margin: 50px auto;
  background-color: #f8f8f8;
  padding: 20px;
  border: 2px solid #0e2f56;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.searchform h2 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.searchform .form-group {
  margin-bottom: 15px;
}

.searchform label {
  font-weight: bold;
  color: #666;
}

.searchform input[type="text"],
.searchform select,
.searchform input[type="date"] 

{
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 5px;
}

.searchform .button-container {
  text-align: center;
}

.searchform button {
  background-color: #93deff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.searchform button:hover {
  background-color: #0056b3;
}

form {
  margin-bottom: 0.5rem;
}

.card-list {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 1rem;
  margin-top: 2rem;
}

@media (max-width: 1279px) {
  .card-list {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (max-width: 1023px) {
  .card-list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 639px) {
  .card-list {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

/* Doctor Card Styling */
.card {
  background-color: #0e2f56;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
  max-width: 300px;
  text-align: center;
}

.card h3 {
  font-size: 20px;
  color: #fff;
  margin-bottom: 10px;
}

.card p {
  font-size: 16px;
  color: #fff;
  margin: 5px 0;
}

/* Button Styling */
.card a {
  text-decoration: none;
}

.card button {
  background-color: #93deff;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  margin: 10px 5px; /* Add margin between buttons */
}

.card button:hover {
  background-color: #0056b3; /* Darker shade on hover */
}

.error {
  color: red;
  margin-bottom: 1rem;
}
img{
  margin-bottom: 15px;
}
select,#date{
  color: grey;
}
button[value="reset"] {
  background-color: rgb(224, 108, 108);
}
button[value="reset"]:hover {
  background-color: rgb(199, 55, 55);
}
