/* Header */

body{
    margin: 0;
    box-sizing: border-box;
}
.navbar {
    background: rgb(88, 223, 250);
    font-family:'Lucida Sans';
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 1;
 }
 
 .navdiv {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
 }
 
 .navdiv li {
    margin-inline: 10px;
    display: inline-block;
 }
 
 .navbar-headings {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
 }
 
 .navbar-headings li a:hover {
    transition: 0.5s;
    background-color: #0d62cb;
    border-radius: 10px;
    color: white;
 }
 
.navbar-headings li{
    display: inline-block;
}

 .navbar-headings li a {
    color: black;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    border: #0d62cb 1px solid;
    padding: 8px;
    border-radius: 10px;
 }
 
 .signin-btn {
    background-color: #0E2F56;
    border-radius: 7px;
    display: inline-flex;
    border: #0E2F56 2px solid;
    justify-content: center;
    padding: 10px;
 }
 
 .reg-btn {
    background-color: white;
    border-radius: 7px;
    border: #0E2F56 2px solid;
    display: inline-flex;
    justify-content: center;
    padding: 10px;
 }
 
 .signin-btn a{
    color: white;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
 }
 
 .reg-btn a{
    color: #0d62cb;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
 }
 
 .logo-div {
    display: flex;
    justify-content: flex-start;
 }
 
 .buttons-div {
    display: flex;
    gap: 10px;
 }