* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-top: 50px;
    margin-bottom: 50px;
}

.container {
    width: 900px;
    background-color: white;
    padding: 30px;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.tab-box {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid rgba(229,229,229);
    font-size: 18px;
    font-weight: bold;
    position: relative;
}

.tab-button{
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    position: relative;
}

.tab-button.active{
    color: #1c3a47;
    font-weight: bold;
}

.tab-button.active::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 5px;
    border-radius: 10px;
    background-color: #1c3a47;
    transition: all 0.3s ease-in-out;
}

.tab-button, .tab-button a{
    color: #919191;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

.content-box {
    padding: 20px;
}

.content-box .content {
    display: none;
    animation: moving 0.5s ease;
}

@keyframes moving {
    from{transform: translateX(50px); opacity: 0;}
    to{transform: translateX(0px); opacity: 1;}
}

.content-box .content.active {
    display: block;
}

.line {
    height: 5px;
    width: 33.33%;
    background-color: #1c3a47;
    position: absolute;
    top: 55.67px;
    left: 0px;
    border-radius: 10px;
    background-color: #1c3a47;
    transition: all 0.3s ease-in-out;
}

.content-box {
    width: 900px;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.record-date-time-category {
    margin-top: 30px;
    font-weight: bold;
    font-size: large;
    color: #003366;
}

.record, .private-record {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    background-color: #003366;
    color: white;
    border-radius: 6px;
    padding: 25px  5px;
    margin-bottom: 10px;
    width: 800px;
}

.record .label,
.record .doc-category,
.record .ref-no {
    padding: 8px;
    text-align: center;
    border-radius: 4px;
    border: 2px solid #908585;
    color: black;
    background-color: #ebe0e0;
    font-weight: bold;
    white-space: nowrap;
    display: inline-block;
}

.record .ref-no {
    white-space: nowrap;
    display: inline-block;
}

.private-record .label {
    width: 320px;
    margin-bottom: 0;
    padding: 5px;
    box-sizing: border-box;
    word-wrap: break-word;
    background-color: #ebe0e0;
    color: black;
    border: 2px solid #908585;
    text-align: center;
    font-weight: bold;
    border-radius: 4px;
}

.button-group {
    display: flex;
    gap: 10px;
    align-items: center;
    min-width: 150px;
    justify-content: flex-end;
}

.view-button, .private-view-button, .private-edit-button, .private-delete-button, .view-button, .private-view-button {
    padding: 8px;
    font-size: 14px;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
    min-width: 100px;
    font-weight: bold;
    background: rgb(88, 223, 250);
    font-size:medium;
    color: black;
}

.view-button:hover, .private-view-button:hover, .private-edit-button:hover, .private-delete-button:hover, .view-button:hover, .private-view-button:hover {
    background: rgb(70, 178, 250);
}

.view-button a, .private-view-button a {
    text-decoration: none;
    color: black;
}

.popup {
    background: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    z-index: 999;
}

.popup-content {
    width: 90%;
    max-width: 500px;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.popup-content label {
    display: block;
    color: black;
    font-weight: bold;
}

.document-name {
    margin: 20px auto;
    display: block;
    width: 400px;
    padding: 8px;
    border: 1px solid gray;
    margin-bottom: 10px;
    word-wrap: break-word;
}

.upload-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.upload-document {
    display: inline-block;
    text-align: center;
    margin-bottom: 20px;
}

#custom-button {
    padding: 10px;
    color: white;
    background-color: #3E64FF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: auto;
    font-weight: bold;
}

#custom-button:hover {
    background-color: #3366cc;
}

#custom-text {
    margin-left: 10px;
    font-family: sans-serif;
    color: #aaa;
}

#private-submit-button, .submit, .update{
    background-color: #0E2F56;
    border: none;
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    width: 100px;
    margin-top: 20px;
}

.pagination {
    margin-top: 20px;
    text-align: center;
}

.pagination a,
.pagination span {
    margin: 0 8px;
    padding: 6px 12px;
    text-decoration: none;
    background-color: #f0f0f0;
    border-radius: 4px;
    color: #333;
}

.pagination a:hover {
    background-color: #3366cc;
    color: white;
}

.pagination .current-page {
    font-weight: bold;
    background-color: #3b83ff;
    color: white;
}