

body {
  font-family: 'Lucida Sans';
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f5f5f5;
  
}

.patient {
  display: flex;
  flex-direction: row;
}

.form-container {
  flex: 1;
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color:white;
  border-radius: 10px;
  
  
  transition: transform 0.3s ease-in-out;
}

.form-container:hover {
  transform: translateY(-5px);
}

.patientprofilecard {
  width: 100%;
  max-width: 300px;
  height: auto;
  background-color: #0e2f56;
  color: white;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  margin: 50px auto;
}

@media (min-width: 768px) {
  .patientprofilecard {
    width: 40%;
    height: 416px;
    margin: 50px;
  }
}

@media (min-width: 1024px) {
  .patientprofilecard {
    width: 20%;
    height: 416px;
    margin: 50px;
  }
}

.patientprofilecard img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.patient-details {
  text-align: center;
}

.patient-details div {
  margin-bottom: 10px;
}

.patient-name {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}

.email {
  font-size: 16px;
  font-weight: normal;
}

.form-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
}

label {
  padding-right: 10px;
  flex: 0 0 150px;
  text-align: left;
  white-space: nowrap;
}

input {
  flex: 1;
  padding: 10px;
  margin-left: 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

input:focus {
  border-color: #0e2f56;
  box-shadow: 0 0 5px rgba(14, 47, 86, 0.5);
}

.patientprofileform h4 {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
}

.patientprofileform input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.patientprofileform input:focus {
  border-color: black;
  outline: none;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.update-button,
.reset-button {
  width: 48%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease-in-out;
}

.update-button {
  background-color: #28a745;
  color: white;
}

.update-button:hover {
  background-color: #14AE5C;
  box-shadow: 0 4px 8px rgba(40, 167, 69, 0.3);
}

.reset-button {
  background-color: #dc3545;
  color: white;
}

.reset-button:hover {
  background-color: #c82333;
  box-shadow: 0 4px 8px rgba(220, 53, 69, 0.3);
}
.criteria{
  font-size: 14px;
  color: rgb(236, 151, 151);
  margin-bottom: 5px;
}
.error{
  color: rgb(236, 151, 151);
  font-size: 14px;
  margin-left: 3px;
 
}